[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyNaCl = "*"

[dev-packages]
black = "*"
setuptools = "*"
isort = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
